{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>Document</title>
</head>

<body dir="rtl">
    <div class="form-content">
        <div class="heading region">
            <ul>

                <li>
                    <h3>قرارداد اینترنت شرکت ویرا نوآوران</h3>
                </li>
                <li>
                    <img src="{% static 'images/g.png' %}" height="50px">
                </li>
                <li>
                    <h3>Your Connection to the Smart World</h3>
                </li>
            </ul>
        </div>
        <div class="date-part region">
            <ul>
                <li>
                    <h6>تاریخ امضای قرارداد:</h6>
                </li>
                <li>
                    <h6>تاریخ شروع قرارداد:</h6>
                </li>
                <li>
                    <h6>ID Number</h6>
                </li>
            </ul>
        </div>

        <div class="main_table region">
            <ul>
                <li>
                    <h3>مشتری حقیقی</h3>
                </li>
                <li>
                    <h3>مشتری حقوقی</h3>
                </li>
                <li>
                    <h6>نام کامل:</h6>
                </li>
                <li>
                    <h6>نام کامل:</h6>
                </li>


                <li>
                    <h6>شماره تذکره:</h6>
                </li>
                <li>
                    <h6>شماره تذکره:</h6>
                </li>
                <li>
                    <h6>شغل:</h6>
                </li>
                <li>
                    <h6>شغل:</h6>
                </li>
                <li>
                    <h6>میزان تحصیلات:</h6>
                </li>
                <li>
                    <h6>میزان تحصیلات:</h6>
                </li>

                <li>
                    <h6>جنسیت: </h6>
                </li>
                <li>
                    <h6>جنسیت: </h6>
                </li>

                <li>
                    <h6>آدرس:</h6>
                </li>
                <li>
                    <h6>آدرس:</h6>
                </li>

                <li>
                    <h6>شماره تماس اول:</h6>
                </li>
                <li>
                    <h6>شماره تماس اول:</h6>
                </li>
                <li>
                    <h6>شماره تماس دوم:</h6>
                </li>
                <li>
                    <h6>شماره تماس دوم:</h6>
                </li>

                <li>
                    <h6>ایمیل:</h6>
                </li>
                <li>
                    <h6>ایمیل:</h6>
                </li>

                <li>
                    <h6>نوعیت استفاده:</h6>
                </li>
                <li>
                    <h6>نوعیت استفاده:</h6>
                </li>

            </ul>
            <ul>
                <li>
                    <h6>این قسمت مربوط اتباع خارجی میباشد.</h6>
                </li>
                <li>
                    <h6>شماره پاسپورت:</h6>
                </li>
                <li>
                    <h6>کشور:</h6>
                </li>
            </ul>
        </div>
        <div class="conditions region">
            <ul>
                <li>
                    <p>مشتری محترم در مقابل استفاده از اینترنت جهت حملات تروریستی و خرابکارانه ضد دولت مسئول میباشد.
                    </p>
                </li>
                <li>
                    <p> هزینه ماه وار حد اقل دو روز قبل از ختم دوره باید پرداخت گردد. در صورت تاخیر در پرداخت شروع دوره
                        از تاریخ قرارداد محاسبه شده و روزهایکه
                        بابت تاخیر در پرداخت قطع بوده است مجرا نمیشود.</p>
                </li>
                <li>
                    <p> لینک انترنت صرف مخصوص خود شخض بوده و در صورت مشاهده انتقال به اشخاص ثالث لینک انترنت بلاک خواهد
                        شد.</p>
                </li>
                <li>
                    <p> مشتری حد اکثر تا یک هفته میتواند در صورت نا رضایتی قرارداد را باطل کرده و مستحق 70% از پول
                        پرداختی خویش شود.</p>
                </li>
                <li>
                    <p> هزینه خریداری دستگاه به عهده خود شخص بوده و شرکت تنها مسول تمویل آن میباشد.</p>
                </li>
                <li>
                    <p> در صورتیکه دستگاه گیرنده به هر دلیلی دچار مشکل تخنیکی )بجز مشکلات نرم افزاری( شود مسولیت آن
                        بدوش مشتری میباشد.</p>
                </li>
                <li>
                    <p> مشتری میتواند هر زمانی با پرداخت هزینه و عقد قرارداد جدید سرعت انترنت خود را ارتقاع دهد.</p>
                </li>
                <li>
                    <p> در صورت بروز مشکلات تخنیکی مشتری موظف است با شماره های خدمات 0780956195 و 0744537865 به تماس
                        شود در غیر اینصورت
                        شرکت ویرا نوآوران در قبال قطعی انترنت مسولیت ندارد.</p>
                </li>
                <li>
                    <p> مشتری موظف است در صورت باز بودن سایت های غیر اخلاقی شرکت ویرا نوآوران را مطلع سازد.</p>
                </li>
            </ul>
        </div>

        <div class="pack-info region">
            <ul>
                <li>
                    <h6>نوعیت بسته:</h6>
                </li>
                <li>
                    <h6>دوره قرارداد:</h6>
                </li>
                <li>
                    <h6>مبلغ پول:</h6>
                </li>
                <li>
                    <h6>مبلغ دستگاه گیرنده:</h6>
                </li>
                <li>
                    <h6>هزینه اضافی:</h6>
                </li>
                <li>
                    <h6>جمع کل:</h6>
                </li>
            </ul>
        </div>
        <div class="documents region">
            <ul>
                <li>
                    <h6>مدارک تحویلی: مشتری در روز قرارداد یکی از اسناد های ذیل را با خود داشته باشد.</h6>
                </li>
                <li>
                    <h6>نوت: در صورتیکه یکی از مدارک ذکر شده الی 24 ساعت به شرکت تحویل نگردد انترنت شما قطع شده و آنگاه
                        حق شکایت ندارد.</h6>
                </li>
                <li>
                    <h6>: کپی تذکره</h6>
                </li>
                <li>
                    <h6>: کپی پاسپورت</h6>
                </li>
                <li>
                    <h6>: کپی جواز</h6>
                </li>
                <li>
                    <h6>: کپی کارت هوی</h6>
                </li>

                <li>
                    <h6>نحوه آشنایی با ما: </h6>
                </li>

                <li>
                    <h6>: کپی تذکره</h6>
                </li>
                <li>
                    <h6>: کپی پاسپورت</h6>
                </li>
                <li>
                    <h6>: کپی جواز</h6>
                </li>
                <li>
                    <h6>: کپی کارت هوی</h6>
                </li>
            </ul>
        </div>
        <div class="agrement region">
            <p>
                با تایید معلومات فوق و قبول تمامی موارد ذکر شده در قرارداد خدمات انترنت وایرلس. متقاضی خدمات انترنت
                میباشم و از روز امضاء قرارداد و
                فعال شدن خدمات مکلف به پرداخت هزینه ذکره شده استم.
            </p>
            <h6>امضاء و مهر مسئول فروش و یا نماینده:</h6>
        </div>


        <div class="office-info region">
            <ul>
                <li>
                    <p>آدرس دفتر مرکزی: ایستگاه نقاش دشت برچی</p>
                </li>
                <li>
                    <p>+93 780 956195 / +93 744 537865</p>
                </li>
                <li>
                    <p>sales@viranawawaran.af</p>
                </li>
                <li>
                    <p>www.viranawawaran.af</p>
                </li>

            </ul>
        </div>
    </div>
</body>

</html>
